<footer id="footer">
  <div class="container">

    <div class="row">
      <div class="text-center">
        <ul class="list-unstyled">
          <li><strong>one more again</strong></li>
          <li>San Francisco, CA</li>
          <li><br /></li>
          <li>
            <ul class="list-inline">
              <li><a href="https://www.facebook.com/goonemoreagain/"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a></li>
              <li><a href="https://www.twitter.com/goonemoreagain/"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a></li>
              <li><a href="https://www.instagram.com/goonemoreagain/"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a></li>
            </ul>
          </li>
          <li><br /></li>
          <li>&copy; Copyright 2017 Continua Apparel Corporation.  All rights reserved.</li>
        </ul>
      </div>
    </div>

  </div>
</footer>
